.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Directorio de configuración de IntelliJ IDEA
.idea/

dist/

# Archivos de SonarLint
.idea/sonarlint/
.idea/sonarlint/issuestore/
.idea/sonarlint/securityhotspotstore/